<div>
    <h4>Current Conditions:</h4>
    <p>{{weather}}</p>
    <h4>Temperature:</h4>
    <p>{{temperature_string}}</p>
    <h4>Wind Speed : </h4>
    <p>{{wind_mph}}</p>
    <h4>Air Pressure: </h4>
    <p>{{pressure_in}}</p>
    <button id="show-forecast">3 Day Forecast</button>

</div>
